:root {
    --primary: rgb(98, 167, 245);
    --secondary: #191919;
}

@font-face {
    font-family: "Gravity-Regular";
    src:  url("../fonts/Gravity-Regular.otf") format("woff"),
         url("../fonts/Gravity-Regular.otf")  format("truetype");
}

/* VER:*/

html,body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
    color: white;
    font-family: 'Happy Monkey', cursive;

    background-color: var(--secondary, #191919);
}

body {
    box-sizing: border-box;
}

a {
    color: rgb(91, 91, 221);
}

hr {
    margin-left: 0;
    width:30%; 
    margin-bottom: 40px;
}

/* TODO: Apply to all of the sections */
.container {
    box-sizing: border-box;
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 115px;
    padding-left: 115px;
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;

    font-weight: 500;
    line-height: 1.1;

    font-family: "Gravity-Regular";
    font-size: 1em;
    letter-spacing: 1px;

    background-color: #191919;
}

.inverted {
    color: #212529;
    background-color: #fff;
}


.title {
    margin:0;
    padding-top: 20px;
    align-self: center;

    font-size: 1.75rem;
    font-family: "Gravity-Regular";
    letter-spacing: 10px;
    
    font-weight: 500;
    line-height: 1.1;
}

/* Component classes */
.btn {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out;
}

.vertical-line{
    border-left: 2px solid var(--secondary);
    padding-left: 10px;
}

.link-btn:hover {
    color: #76B6A6;
}


.active{
    color: var(--primary,rgb(74, 116, 253)) !important;
}

.not-availabe {
    content: "...";
    color: rgb(172, 161, 161);
    text-decoration: line-through;
}

.not-availabe::before{
    text-decoration: none;
    content: "... ";
    color: rgb(172, 161, 161);
}

.sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
}



/* Navbar */
.navbar {
    position: absolute;
    z-index: 2;
    width: 100%;

    padding: 30px 0 20px 0;
    margin:0;

    background: transparent;
    
    font-family: "Gravity-Regular";
    letter-spacing: 5px;

    font-weight: 500;
    line-height: 1.1;
    
    transition: top 0.3s;

    
}

.navbar ul {
    padding:0;
    margin:0;

    list-style: none;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
.navbar ul a {
    color: #fff;
    text-decoration: none;
    font-size:1em;

    padding-left: 15px;
    padding-right: 15px;

    transition: 0.5s ease;
}

.navbar ul a:hover {
    color: rgb(74, 116, 253);
}

.icon {
    display: none;
    padding: 0;
}

/* Wrapper */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    width: 100%;
    box-sizing: border-box;
}

/* Header */
.header {
    margin: 0;
    padding:0;
 
    width: 100%;

    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../imgs/1.jpg");
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.header h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 4.5em;
    letter-spacing: 20px;
    word-spacing: 5px;
    text-align: center;
}


#second-title{
    font-family: 'Amatic SC', cursive;
    font-size: 1.8em;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-align: center;

    /*margin-top: -20px;*/
}

.author-img {
    position: relative;
}

.author-img img{
    position: relative;
    border-radius: 100px;
    height: 200px;
    width: 200px;

    -webkit-box-shadow: 3px 3px 20px 0.6px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 20px 0.6px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 20px 0.6px rgba(0,0,0,0.5);
}

.online-icon {
    position: absolute;
    font-size: 2em;
    bottom: 0;
    left:10px;
    right: -50px;
}

.welcome{
    margin-top:30px;
    margin-bottom:30px;

    font-weight: 300;
    font-size: 1em;

    background:transparent;
}

.welcome h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.0em;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-align: center;
}

.welcome p {
    font-size: 1.4em;
    text-align: center;
}


/* About me */
.image2 {
    width:100%;
    height: 400px;
    background-image: url("../imgs/2.jpg");
    background-size: cover;

    background-attachment: fixed;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

  
.image3 {
    width:100%;
    height: 400px;
    background-image: url("../imgs/l1.jpg");
    background-size: cover;

    background-attachment: fixed;
}

/* Work */

#projects-box {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;

    padding-top: 20px;
}

/* Organize [image(btn) - small desc  ]*/
.project {
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column wrap;
    width: 100%;

    color: var(--secondary);
    
    transition: 0.3s;

    -webkit-box-shadow: 5px 7px 6px -6px #777;
       -moz-box-shadow: 5px 7px 6px -6px #777;
            box-shadow: 5px 7px 6px -6px #777;
}

.vertical-line > h3 {
    padding-left: 15px !important;
    align-self: flex-start !important;
}

.project a {
    display: flex;
    flex-flow: row nowrap;

    text-decoration: none;
    cursor: pointer;
    color: var(--secondary);
    padding: 0;
}

.project img {
    width: 220px;
    height: 150px;
    padding-right: 10px;
}

.project:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 7px 10px 6px -6px #555;
       -moz-box-shadow: 7px 10px 6px -6px #555;
            box-shadow: 7px 10px 6px -6px #555;
}

.project h3 {
    align-self: center;

    font-family: "Gravity-Regular";
    letter-spacing: 5px;
    
    font-weight: 500;
}

/* Skills & Resume */
.skill-div {
    margin: 0 10px 0 10px;
}

#skills .list-skills {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

#skills ul {
    font-family: "Gravity-Regular";
    font-weight: 500;
}

#skills ul li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-skills h4 {
    margin-left: -10px;
}


.certefication {
    display:flex;
    flex-flow: column;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;

    transition: 0.3s;
    border: 0.5px solid #333;

    -webkit-box-shadow: 5px 7px 6px -6px #777;
       -moz-box-shadow: 5px 7px 6px -6px #777;
            box-shadow: 5px 7px 6px -6px #777;
}
.certefication:hover {
    transform: scale(1.01);
    -webkit-box-shadow: 7px 10px 6px -6px #555;
       -moz-box-shadow: 7px 10px 6px -6px #555;
            box-shadow: 7px 10px 6px -6px #555;
}
.certefication a {
    width: 100px;
}


/* Footer */
footer {
    padding: 15px;
    font-size: 1.15em !important;
    text-align: center;
}

footer .int-work{
    font-size: 1.3em;
}

footer ul {
    padding: 0;
    margin: 0;
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer ul a{
   font-size: 2em;
   margin: 30px;
   color:white;
}


footer a {
    color:  var(--primary);
    text-decoration: none;
}

/* Media queries */
@media(max-width: 640px){
    .header h1{
        font-size: 3.7em;
      
    }
}
@media screen and (max-width: 600px) {
    .navbar li:not(:first-child) {display: none;}

    .navbar ul {
        justify-content: space-between;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
@media screen and (max-width: 600px) {
    .navbar.responsive {position: fixed;}
    .navbar.responsive .icon {
        position: absolute;
        right: 3px;
        top: 30px;

    }
    .navbar.responsive ul {
        display: block;
    }
    .navbar.responsive li {
        float: none;
        display: block;
        text-align: left;
        padding-top: 10px;
        
    }

    .container {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .title {
        font-size: 1.2rem;
        letter-spacing: 5px;
        text-align: center;
    }

    hr {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .project {
        flex-flow: column wrap;
    }

    .project a {
        flex-flow: column wrap;
    }
    .project img {
        width: 250px;
        height: 150px;
    }

    #skills .list-skills {
        flex-flow: column wrap;
        align-items: center;
    }

    .certefication {
        margin-bottom: 50px;
    }


}

@media(max-width: 580px){
    .header h1{
        font-size: 2em;
  
    }

    .header {
        padding-top: 100px;
        flex-flow: column wrap;
    }

    .header h2 {
        font-size: 1.5em;
    }
   
}